@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #ddd;
  font-size: 1.1rem;
}
.card {
  background-color: #eee;
}
.list-group {
  max-height: calc(100vh - 168px);
  overflow: auto;
}
.list-group-item {
  cursor: pointer;
}
.item-active {
  background-color: rgba(238, 130, 238, 0.096);
}
.creator-label {
  width: 130px;
}
.opt-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 8px 0 2px;
  border: 1px solid #333;
}
@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
  .container {
    min-width: 100%;
  }
}
